/* Navigation bar*/
 #side{
   margin:auto;
   border:2px solid white;
   margin-top:-2%}

aside{
    position: fixed;
    width: 20%;
    background-image: linear-gradient(270deg, #ffe12bad, #ffc676);
    overflow-y: auto;
    height:auto;
}

aside ul{
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;

}

aside ul li{
    margin-bottom:.5em; 
    padding-left: 1em;
    height:2.5em; 
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

aside ul li a{
text-decoration: none;
color: black;

}

aside ul li:hover{
    background-color: #ffa51e5e;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5vw;
}



::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: yellow; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc676; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffc676; 
  }
  /* */
  @media only screen and (max-width: 767px){
    aside{display:none;}
  }

  @media only screen and (min-width: 768px)  {
    aside{height:90%;

      margin-top: 17%; border: 2px;
      }
    }

    @media only screen and (min-width: 960px)  {
      aside{height:90%;
  
        margin-top: 10%; border: 2px;
        }
      }

 